<p id="notice"><%= notice %></p>

<h1>Listing Admin Products</h1>
<div class="text-center">
  <p><%= page_entries_info @orders %></p>
  <%= paginate @orders, :theme => 'twitter-bootstrap-3' %>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Subtotal</th>
    <th>Taxes</th>
    <th>Shipping</th>
    <th>Status</th>
    <th>Shipping address</th>
    <th>Billing address</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= number_to_currency order.subtotal %></td>
        <td><%= number_to_currency order.tax %></td>
        <td><%= number_to_currency order.shipping %></td>
        <td><%= order.order_status.name %></td>
        <td><%= order.shipping_address %></td>
        <td><%= order.billing_address %></td>
        <td><%= link_to 'Show', admin_user_orders_path(order) %></td>
        <td><%= link_to 'Edit', edit_admin_user_order_path(@user, order) %></td>
        <!--<td><%= link_to 'Destroy', [:admin, @user, order], method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @orders, :theme => 'twitter-bootstrap-3' %>
  <p><%= page_entries_info @orders %></p>
</div>
<br>

<!--<%= link_to 'New uSER', new_admin_user_path %>-->
