<p id="notice"><%= notice %></p>

<h1>Order <%= @order %> for user '<%= @user.to_s %>'</h1>


<p>
  <strong>Number:</strong>
  <%= @order.id %>
</p>
<p>
  <strong>Subtotal:</strong>
  <%= @order.subtotal %>
</p>
<p>
  <strong>Taxes:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @order.shipping %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= link_to "http://maps.google.com/?q=#{@order.shipping_address.street_line_1.gsub(/\s+/, "+").html_safe}", target: :_blank do %>
      <%= @order.shipping_address %>
  <% end %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= link_to "http://maps.google.com/?q=#{@order.billing_address.street_line_1.gsub(/\s+/, "+").html_safe}", target: :_blank do %>
      <%= @order.billing_address %>
  <% end %>
  <!--<img alt="Billing address" src=<%= "http://maps.googleapis.com/maps/api/staticmap?size=250x250&center=#{@order.billing_address.street_line_1.gsub(/\s+/, "+").html_safe}&zoom=14" %>/>-->
</p>

<p>
  <strong>Items:</strong>

</p>
<%= @order.order_items.each do |order_item| %>
    <p>Item name:</p>
    <p><%= order_item %></p>
<% end %>
<br/>
<%= link_to 'Edit', edit_admin_user_order_path(@user, @order) %> |
<%= link_to 'Back', admin_user_orders_path(@user) %>
