<p id="notice"><%= notice %></p>

<h1>Order <%= @order %> for user '<%= @user.to_s %>'</h1>


<!--<p>-->
<!--<strong>Number:</strong>-->
<!--<%= @order.id %>-->
<!--</p>-->
<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency @order.subtotal %>
</p>
<p>
  <strong>Taxes:</strong>
  <%= number_to_currency @order.tax %>
</p>

<p>
  <strong>Shipping price:</strong>
  <%= number_to_currency @order.shipping %>
</p>
<p>
  <strong>Total price:</strong>
  <%= number_to_currency @order.subtotal + @order.tax + @order.shipping %>
</p>

<p>
  <strong>Shipping address:</strong>
  <% if @order.shipping_address.present? %>
      <%= link_to "http://maps.google.com/?q=#{@order.shipping_address.street_line_1.gsub(/\s+/, "+").html_safe}", target: :_blank do %>
          <%= @order.shipping_address %>
      <% end %>
  <% else %>
    <p>No address yet</p>
<% end %>


<p>
  <strong>Billing address:</strong>
  <% if @order.billing_address.present? %>
      <%= link_to "http://maps.google.com/?q=#{@order.billing_address.street_line_1.gsub(/\s+/, "+").html_safe}", target: :_blank do %>
          <%= @order.billing_address %>

          <!--<img alt="Billing address" src=<%= "http://maps.googleapis.com/maps/api/staticmap?size=250x250&center=#{@order.billing_address.street_line_1.gsub(/\s+/, "+").html_safe}&zoom=14" %>/>-->
      <% end %>
  <% else %>
    <p>No address yet</p>
<% end %>



<p>
  <strong>Items:</strong>

</p>
<table class="table panel panel-default">
  <thead class="panel-heading">
  <tr>
    <th>Picture</th>
    <th>Item name</th>
  </tr>
  </thead>
  <tbody class="panel-body">
  <% @order.order_items.each do |order_item| %>

      <tr>
        <td><%= image_tag order_item.product.photo(:mini), class: 'img-thumbnail img-responsive' %></td>
        <td><%= link_to [:admin, order_item.product] do %>
              <%= order_item.product.product_name %>
          <% end %></td>
      </tr>

  <% end %>
  </tbody>
  <tfoot class="panel-footer">
  <tr>
    <td colspan="4"></td>
  </tr>
  </tfoot>
</table>
<br/>
<%= link_to 'Edit', edit_admin_user_order_path(@user, @order) %> |
<%= link_to 'Back', admin_user_orders_path(@user) %>
