<!DOCTYPE html>
<html>
<head>
  <title>Dashboard for <%= current_user.first_name + " " + current_user.last_name %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/admin.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Modal for errors -->
<%= render :partial => "layouts/admin/error_modal" %>
<div class="container-fluid">
  <div class="row">
    <!-- Menu content -->

    <%= render :partial => "layouts/admin/menu" %>

    <div class="col-md-10 well">
      <!-- Dashboard content -->

      <%= yield %>

    </div>
  </div>
</div>
</body>
</html>
