<%= title 'Payment' %>

<h2>Payment</h2>

<!-- Credit card form -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png"> Payment
            Details</h3>

          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <%= form_tag '/cart/checkout/payment', method: :post, name: :creditcard_form, id: 'payment-form', role: :form, autocomplete: :off do %>

              <fieldset>
                <%= fields_for :creditcard do |cc| %>

                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <%= cc.label :name_on_card, "CARD HOLDER'S NAME" %>
                          <!--<label for="name_on_card">CARD HOLDER'S NAME</label>-->
                          <%= cc.text_field :name_on_card, class: 'form-control', placeholder: 'Name on card', autofocus: true, required: true %>
                          <!--<input id="name_on_card" type="text" class="form-control" name="name_on_card"/>-->
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <%= cc.label :card_number, 'CARD NUMBER' %>

                          <div class="input-group">
                            <%= cc.text_field :card_number, id: 'card_number', class: 'form-control', placeholder: 'Valid Card Number', required: true, data: {stripe: :number} %>
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                          <%= cc.label 'month', 'EXPIRATION DATE' %>

                          <div class="col-xs-6 col-lg-6 pl-ziro">
                            <%= cc.text_field :month, id: :month, class: 'form-control', placeholder: 'MM', required: true, data: {stripe: 'month'} %>
                          </div>
                          <div class="col-xs-6 col-lg-6 pl-ziro">
                            <%= cc.text_field :year, id: :year, class: 'form-control', placeholder: 'YY', required: true, data: {stripe: 'year'} %>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                          <%= cc.label :cvc, 'CV CODE' %>
                          <%= cc.password_field :cvc, id: :cvc, class: 'form-control', placeholder: 'CVC', required: true, data: {stripe: :cvc} %>
                        </div>
                      </div>
                    </div>
                    </fieldset>
                <% end %>
                <div class="row">
                  <div class="col-xs-12">
                    <%= submit_tag 'Confirm payment', class: 'btn btn-success btn-lg btn-block' %>
                  </div>
                </div>

                <div class="row" style="display:none;">
                  <div class="col-xs-12">
                    <p class="payment-errors"></p>
                  </div>
                </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>