<%= form_for [:admin, @product], :html => {:multipart => true} do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :product_name %><br>
      <%= f.text_field :product_name %>
    </div>
    <div class="field">
      <%= f.label :product_description %><br>
      <%= f.text_area :product_description %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= grouped_collection_select(
                  :product, #The instance of the class to be used for the select tag
                  :category_id, #The attribute of object corresponding to the select tag
                  Category.primary_categories, #An array of objects representing the <optgroup> tags.
                  :children, #The method to be called on each of the elements above to generate the children
                  :name, #Name from group element to be used as the value for the <optgroup>
                  :id, #The name of a method which, when called on a child object of a member of collection, returns a value to be used as the value attribute for its <option> tag.
                  :name #The name of a method which, when called on a child object of a member of collection, returns a value to be used as the contents of its <option> tag.


          )
          #documentation http://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-grouped_collection_select
      %>
    </div>
    <div class="field">
      <%= f.label :quantity_per_unit %><br>
      <%= f.number_field :quantity_per_unit %>
    </div>
    <div class="field">
      <%= f.label :unit_price %><br>
      <%= f.text_field :unit_price %>
    </div>
    <div class="field">
      <%= f.label :discount %><br>
      <%= f.text_field :discount %>
    </div>
    <div class="field">
      <%= f.label :discount_available %><br>
      <%= f.check_box :discount_available %>
    </div>
    <div class="field">
      <%= f.label :unit_weight %> (g)<br>
      <%= f.number_field :unit_weight %>
    </div>
    <div class="field">
      <%= f.label :unit_in_stock %><br>
      <%= f.number_field :unit_in_stock %>
    </div>
    <div class="field">
      <%= f.label :product_available %><br>
      <%= f.check_box :product_available %>
    </div>
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
      <%= image_tag @product.photo(:small), class: 'img-rounded' %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
