<p id="notice"><%= notice %></p>

<h1>Listing Admin Products</h1>
<div class="text-center">
  <p><%= page_entries_info @admin_products %></p>
  <%= paginate @admin_products, :theme => 'twitter-bootstrap-3' %>

</div>
<table>
  <thead>
  <tr>
    <th>Product name</th>
    <th>Short description</th>
    <th>Product description</th>
    <th>Category</th>
    <th>Quantity per unit</th>
    <th>Unit price</th>
    <th>Discount</th>
    <th>Discount available</th>
    <th>Unit weight</th>
    <th>Unit in stock</th>
    <th>Product available</th>
    <th>Picture</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @admin_products.each do |admin_product| %>
      <tr>
        <td><%= admin_product.product_name %></td>
        <td><%= admin_product.short_description %></td>
        <td><%= admin_product.product_long_description %></td>
        <td><%= admin_product.category.name %></td>
        <td><%= admin_product.quantity_per_unit %></td>
        <td><%= number_to_currency(admin_product.unit_price) %></td>
        <td><%= number_to_currency(admin_product.discount) %></td>
        <td>
          <% if admin_product.discount_available %>
              <i class="fa fa-check-circle"></i>
          <% else %>
              <i class="fa fa-times-circle"></i>
          <% end %>
        </td>
        <td><%= admin_product.unit_weight %> g</td>
        <td><%= admin_product.unit_in_stock %></td>
        <td>
          <% if admin_product.product_available %>
              <i class="fa fa-check-circle"></i>
          <% else %>
              <i class="fa fa-times-circle"></i>
          <% end %>
        </td>
        <td><%= image_tag admin_product.photo(:small), class: 'img-thumbnail' %></td>

        <td><%= link_to 'Show', admin_product_path(admin_product) %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
        <td><%= link_to 'Destroy', [:admin, admin_product], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @admin_products, :theme => 'twitter-bootstrap-3' %>
  <p><%= page_entries_info @admin_products %></p>
</div>
<br>

<%= link_to 'New Product', new_admin_product_path %>
