<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @product.product_description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Quantity per unit:</strong>
  <%= @product.quantity_per_unit %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @product.unit_price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Discount available:</strong>
  <%= @product.discount_available %>
</p>

<p>
  <strong>Unit weight:</strong>
  <%= @product.unit_weight %>
</p>

<p>
  <strong>Unit in stock:</strong>
  <%= @product.unit_in_stock %>
</p>

<p>
  <strong>Product available:</strong>
  <%= @product.product_available %>
</p>
<p>
  <strong>Photo</strong>
  <%= image_tag @product.photo %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
