<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Offers</h2>
  </div>
  <div class="container-fluid">
    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <!-- Item -->
        <% @offers.each_with_index do |offer, index| %>
            <div class="item <%= 'active' if index == 0 %>">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <%= link_to(offer) do %>
                        <%= image_tag (offer.photo(:small)), class: 'img-responsive center-block' %>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <%= link_to(offer) do %>
                        <h2><%= offer.product_name %></h2>
                    <% end %>
                    <%= offer.short_description %>
                    <p class="h3 discount-price"><%= number_to_currency offer.price_discount %></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <!-- End Item -->
      </div>
      <!-- End Carousel Inner -->
      <div class="controls">
        <ul class="nav">
          <% @offers.each_with_index do |offer, index| %>
              <li data-target="#custom_carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>">
                <a href="#">
                  <%= image_tag offer.photo(:mini), class: 'img-responsive center-block', style: 'width: 50px; heigth: 50px;' %>
                  <small><%= offer.product_name %></small>
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- End Carousel -->

  </div>
  <div class="panel-footer"></div>
</div>