<%= title "Home Page" %>
<h2>Offers</h2>
<div class="well">

</div>
<h2>Popular Products</h2>
<div class="well">
  <% @popular_products.each_slice(3) do |slice| %>
      <div class="row row-eq-height">
        <% slice.each do |product| %>
            <div class="col-sm-6 col-md-4 row-eq-height">
              <div class="thumbnail">
                <%= link_to (product.category) do %>
                    <h4 class="text-center"><span class="label label-info"><%= product.category.name %></span></h4>
                <% end %>

                <div class="mag1">
                  <%= image_tag product.photo, class: 'img-responsive img-rounded center-block', data: {toggle: 'magnify'} %>
                </div>

                <div class="caption">
                  <div>
                    <div>
                      <h3 class="text-center">
                        <%= link_to (product) do %>
                            <% product.product_name %>
                        <% end %>
                      </h3>
                    </div>
                    <div class="price">
                      <h3>
                        <b><%= number_to_currency(product.unit_price) %></b>
                      </h3>
                    </div>
                  </div>
                  <p><%= product.short_description %></p>

                  <div class="row">
                    <div class="col-md-6">
                      <a class="btn btn-primary btn-block"><span class="fa fa-star-o"></span> Favourite it</a>
                    </div>
                    <div class="col-md-6">
                      <a href="#" class="btn btn-success btn-block"><span class="fa fa-shopping-cart"></span> Add to
                        cart</a>
                    </div>
                  </div>

                  <p></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
