<%= title "Home Page" %>

<%= render 'application/offers_slider' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-uppercase">Popular Products</h2>
  </div>
  <% @popular_products.each_slice(3) do |slice| %>
      <div class="row  well-lg">
        <% slice.each do |product| %>
            <!-- Product box -->
            <div class="col-sm-6 col-md-4 col-xs-12 row-eq-height">
              <!-- Thumbnail frame -->
              <div class="thumbnail">
                <%= link_to (product.category) do %>
                    <p class="text-center h4">
                      <span class="label label-info"><%= product.category.name %></span></p>
                <% end %>
                <h3 class="text-center">
                  <%= link_to (product) do %>
                      <% product.product_name %>
                  <% end %>
                </h3>

                <div class="mag1">
                  <%= image_tag product.photo,
                                class: 'img-responsive img-rounded center-block',
                                data: {toggle: 'magnify'} %>
                </div>
                <div class="caption">
                  <div class="price text-center">
                    <% if product.discount_available %>
                        <p class="h2">
                          <del>
                            <%= number_to_currency(product.price) %>
                          </del>
                          &nbsp;
                          <span class="discount-price"><%= number_to_currency(product.price_discount) %></span>
                        </p>
                    <% else %>
                        <p class="h2">
                          <%= number_to_currency(product.price) %>
                        </p>
                    <% end %>
                  </div>

                  <!-- Buttons -->
                  <div class="row">
                    <div class="col-md-6">
                      <a class="btn btn-primary btn-block disabled"><span class="fa fa-star-o"></span>
                        Favourite
                        it</a>
                    </div>
                    <div class="col-md-6">
                      <%= form_for @order_item, remote: true, html: {class: 'form', id: "new_order_item_#{product.id}"} do |f| %>
                          <div class="input-group">

                            <%= f.number_field :quantity, value: 1, id: "quantity-product-#{product.id}", class: 'form-control text-center', min: 1, step: 1, placeholder: 'Amount' %>
                            <%= f.label :quantity, for: "quantity-product-#{product.id}", class: 'sr-only' %>
                            
                            <span class="input-group-btn">
                                <%= f.button type: :submit, class: 'btn btn-success ', data: {toggle: :tooltip, placement: :top, title: 'Add to cart'} do %>
                                    <i class="fa fa-cart-plus"> </i>
                                <% end %>
                              </span>
                          </div>
                          <%= f.hidden_field :product_id, value: product.id, id: "product-#{product.id}" %>

                      <% end %>
                    </div>
                  </div>

                  <p class="caption"><%= product.short_description %></p>

                </div>
                <!-- End caption -->
              </div>
              <!-- End thumbnail -->
            </div>
            <!-- End product box -->
        <% end %>
      </div>
      <!-- End line of products -->
  <% end %>
  <div class="panel-footer"></div>
</div>
