<%= title 'Search results' %>

<div class="container-fluid">
  <div class="row">
    <!--Filter-->

    <%= render 'products/filters' %>

    <!--Body-->
    <section id="search-results">
      <div class="col-md-9">
        <div>
          <span class="label label-primary">Search terms: </span>
          &nbsp;
          <% @search_terms.each do |term| %>
              <span class="label label-info"><%= term %></span>
          <% end %>
        </div>
        <br>
        <br>

        <% if @products.total.zero? %>
            <div class="well-lg">
              <p class="text-center h2">No results found</p>
            </div>
        <% else %>

            <div class="text-center">
              <%= paginate @products.hits, :theme => 'twitter-bootstrap-3' %>
            </div>

            <% @products.results.each do |product| %>
                <div class="panel panel-default row no-gutter">

                  <div class="col-xs-2 col-lg-2 ">
                    <%= image_tag (product.photo(:mini)), class: 'img-responsive center-block img-rounded padded-top padded-bottom' %>
                  </div>

                  <div class="col-xs-8 col-lg-8">
                    <%= link_to (product) do %>
                        <p class="text-center padded-top  padded-bottom gray-background">
                          <b><%= product.product_name %></b>
                        </p>
                    <% end %>
                    <p class="text-justify"><%= product.short_description %></p>

                    <div class="text-center padded-top  padded-bottom gray-background">
                      -- Actions --
                    </div>
                  </div>

                  <div class="col-xs-2 col-lg-2">
                    <% if product.discount_available? %>
                        <p class="text-center padded-top h4">
                          <del><%= number_to_currency product.price %></del>
                        </p>
                        <p class="text-center padded-top h3 discount-price">
                          <strong><%= number_to_currency product.price_discount %></strong></p>
                    <% else %>
                        <p class="text-center padded-top h4"><%= number_to_currency product.price %></p>
                    <% end %>
                  </div>
                </div>


            <% end %>

            <div class="text-center">
              <%= paginate @products.hits, :theme => 'twitter-bootstrap-3' %>
            </div>
        <% end %>
      </div>
    </section>
  </div>
</div>