<div class="container-fluid">
  <div class="row">
    <!--Filter-->
    <div class="col-md-3">
      <h2>Filters</h2>

      <div class="well">

        <ul class="list-unstyled">

          <li>
            <%= label_tag :new_products do %>
                <%= check_box_tag :new_products, true, params[:new_products], form: :search_form %>
                New products only
            <% end %>
          </li>
          <li>
            <%= label_tag :offers do %>
                <%= check_box_tag :offers, true, params[:offers], form: :search_form %>
                Offers only
            <% end %>
          </li>

          <li>
            <%= label_tag :with_discount do %>
                <%= check_box_tag :with_discount, true, params[:with_discount], form: :search_form %>
                Discount
            <% end %>
          </li>
        </ul>
        <%= submit_tag "Apply filters", name: nil, class: 'btn btn-block btn-info', data: {:disable_with => 'Applying...'}, form: :search_form %>
      </div>
    </div>
    <!--Body-->
    <div class="col-md-9">
      <div>
        <span class="label label-primary">Search terms: </span>
        &nbsp;
        <% @search_terms.each do |term| %>
            <span class="label label-info"><%= term %></span>
        <% end %>
      </div>
      <br>
      <br>

      <% if @products.nil? %>
          <p>No results found</p>
      <% else %>
          <% @products.each do |product| %>
              <%= content_tag(:p, product.product_name) %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>