<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="item-container">
    <div class="row">
      <!-- Column for picture -->
      <div class="col-md-5">
        <div class="product service-image-left">
          <%= image_tag (@product.photo), alt: @product.product_name, class: 'center-block' %>
        </div>
      </div>
      <!-- Column for Product information at the right-->
      <div class="col-md-7">
        <div class="product-title"><%= @product.product_name %></div>
        <div class="product-desc"><%= @product.short_description %></div>
        <!-- TODO: Add rating capaility for products -->
        <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
          <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i>
        </div>
        <% if @product.unit_in_stock.zero? %>
            <div class="product-out-stock">Out of Stock</div>
        <% else %>
            <div class="product-stock">In Stock</div>
        <% end %>
        <hr>
        <div class="price text-left">
          <% if @product.discount_available %>
              <p class="h2">
                <del>
                  <%= number_to_currency(@product.price) %>
                </del>
                &nbsp;
                <span class="discount-price"><%= number_to_currency(@product.price_discount) %></span>
              </p>
          <% else %>
              <p class="h2">
                <%= number_to_currency(@product.price) %>
              </p>
          <% end %>
        </div>
        <hr>

        <%= form_for @order_item, remote: true, html: {class: 'form form-inline'} do |f| %>
            <div class='form-group'>
              <label class='sr-only' for='exampleInputAmount'>Quantity</label>
              <%= f.number_field :quantity, value: 1, id: 'amount', class: 'form-control input-lg text-center', min: 1, step: 1, placeholder: 'Amount' %>
            </div>

            <%= f.submit "Add to Cart", class: 'btn btn-success input-lg' do %>
                <i class="fa fa-cart-plus"> Add to cart</i>
            <% end %>
            <button type='submit' class='btn btn-info input-lg'>
              <i class="fa fa-star"> Add to favourites</i>
            </button>

            <div class='input-group-btn'>
              <%= f.hidden_field :product_id, value: @product.id %>
            </div>

        <% end %>

      </div>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-12 product-info">
    <ul id="myTab" class="nav nav-tabs nav_tabs">

      <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
      <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
      <!--<li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>-->

    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="service-one">

        <section class="container product-info">
          <%= @product.product_long_description %>
        </section>

      </div>
      <div class="tab-pane fade" id="service-two">

        <section class="container-fluid">
          <table class="table table-hover table-responsive table-striped">
            <thead>
            <tr>
              <th>Characteristic</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Product weight (metric units)</td>
              <td><%= number_to_human(@product.unit_weight, units: {unit: 'g', thousand: 'Kg'}) %></td>
            </tr>
            <tr>
              <td>Unit price</td>
              <td><%= number_to_currency(@product.unit_price) %></td>
            </tr>
            <tr>
              <td>Quantity per unit</td>
              <td><%= @product.quantity_per_unit %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </section>

      </div>
      <!--<div class="tab-pane fade" id="service-three">-->

      <!--</div>-->
    </div>
    <hr>
  </div>
</div>