<!DOCTYPE html>
<html>
<head>
  <title>Dashboard for <%= current_user.first_name + " " + current_user.last_name %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <br>
      <ul class="nav nav-pills nav-stacked">
        <li><a><i class="fa fa-user fa-2x"></i> <%= "#{current_user.first_name} #{current_user.last_name}" %>
          (<%= current_user.email %>)</a></li>
        <li>
          <hr>
        </li>
        <li id="dashboard" class="active">
          <%= link_to :admin do %><i class="fa fa-home fa-fw"></i>Dashboard
          <% end %></li>
        <li id="products">
          <%= link_to [:admin, :products] do %>
              <i class="fa fa-rocket fa-fw"></i>Products
          <% end %>
        </li>
        <li id="categories">
          <%= link_to [:admin, :categories] do %>
              <i class="fa fa-list fa-fw"></i>Categories
          <% end %>
        </li>
        <li>
          <hr>
        </li>
        <li id="settings">
          <%= link_to [:admin, :products] do %>
              <i class="fa fa-gear fa-fw"></i>Settings
          <% end %>
        </li>
        <li>
          <%= link_to '/log_out', data:{ confirm: "Do you really want to log out?"} do %>
              <i class="fa fa-coffee fa-fw"></i>Log out
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-10 well">
      <%= yield %>
    </div>
  </div>
</div>

<!--<div class="col-lg-2">-->
<!--&lt;!&ndash; Dashboard lateral menu &ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->

<!--&lt;!&ndash;<p><i class="fa fa-user fa-3x"></i> <%= current_user.email %> <%= link_to "Log out", log_out_path %></p>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<nav>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;<li><%= link_to "Products", [:admin, :products] %></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><%= link_to "Categories", [:admin, :categories] %></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><%= link_to "General settings", [:admin, :settings] %></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!---->
<!--</div>-->
<!--<div class="col-lg-10">-->
<!--&lt;!&ndash; Dashboard's content &ndash;&gt;-->
<!--<%= yield %>-->
<!--</div>-->


</body>
</html>
