<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<br>
<header class="container-fluid">
  <div id="flash-messages" class="row">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "col-md-12 alert alert-info" %>
    <% end %>
  </div>
  <div class="row">
    <div id="logo-wrapper" class="col-md-3">
      <!-- Logo column -->
      <%= link_to '/' do %>
          <%= image_tag "logo.jpg", alt: 'Logo', class: 'center-block' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <!-- Middle column -->
      <div class="row">
        <!-- Search form -->
        <%= render :partial => "layouts/search" %>
      </div>
      <div class="row">
        <!-- Menu -->
        <%= render :partial => "layouts/menu" %>
      </div>
    </div>

    <div class="col-md-3">
      <!-- Right column -->
      <div class="container-fluid" id="user-wrapper">
        <i class="fa fa-user fa-5x col-sm-4"></i>
        <% if current_user %>
            Logged in as <%= current_user.email %> (<%= current_user.role.name %>).
            <%= link_to "Log out", log_out_path %>
        <% else %>
            <%= link_to "Sign up", sign_up_path %> or
            <%= link_to "log in", log_in_path %>
        <% end %>
      </div>
      <div class="container-fluid" id="cart-wrapper">
        <i class="fa fa-shopping-cart fa-5x"></i>
      </div>
    </div>

  </div>
</header>
<hr>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<hr>
<div class="container-fluid">

  <%= yield %>

</div>
<hr>
<footer class="container-fluid">
  <p class="text-center">&copy; Copyright 2015 - My eCommerce</p>
</footer>
</body>
</html>
