<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<br>
<header class="container-fluid">
  <!-- Messages flash -->
  <div id="flash-messages" class="row">
    <% flash.each do |name, msg| %>
        <div id="flash_<%= name %>" class="alert alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <%= msg %>
        </div>
    <% end %>
  </div>
  <!--Left part-->
  <div class="row">
    <div id="logo-wrapper" class="col-md-3">
      <!-- Logo column -->
      <%= link_to '/' do %>
          <%= image_tag "logo.jpg", alt: 'Logo', class: 'center-block' %>
      <% end %>
    </div>

    <!-- Middle column -->
    <div class="col-md-6">
      <div class="row">
        <!-- Search form -->
        <%= render :partial => "layouts/searchform" %>
      </div>
      <div class="row">
        <!-- Menu -->
        <%= render :partial => "layouts/menu" %>
      </div>
    </div>

    <!-- Right column -->
    <div class="col-md-3">
      <div class="container-fluid" id="user-wrapper">
        <i class="fa fa-user fa-5x col-sm-4"></i>
        <% if current_user %>
            Logged in as <%= current_user.email %> (<%= current_user.role.name %>).
            <%= link_to "Log out", log_out_path %>
        <% else %>
            <%= link_to "Sign up", sign_up_path %> or
            <%= link_to "log in", log_in_path %>
        <% end %>
      </div>
      <div class="container-fluid" id="cart-wrapper">
        <i class="fa fa-shopping-cart fa-5x"></i>
      </div>
    </div>

  </div>
</header>
<hr>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>
<hr>
<main class="container-fluid">

  <%= yield %>

</main>
<hr>
<footer class="container-fluid">
  <p class="text-center">&copy; Copyright 2015 - My eCommerce</p>
</footer>
</body>
</html>
